$blue = #262E79

.Header
    background-image: linear-gradient(to bottom, rgba(29, 33, 36, 0.4), rgba(29, 33, 36, 0.65)), url('../images/cover.jpg');
    background-repeat no-repeat
    background-size cover
    color white
    height 100vh
    margin-bottom 0rem

.btn-primary
    background-color $blue
    border-color $blue

.btn-primary:hover
    background-color $blue
    border-color $blue

.btn-primary:focus
    background-color $blue
    border-color $blue
    box-shadow none

.btn-primary:not(:disabled):not(.disabled):active
    background-color $blue
    border-color $blue

#nosotros
    background-color $blue
    color white

#servicios
    background-color #FF6663
    color white

#contacto
    background-color #00272B
    color white

footer
    background-color $blue